<div class="row">
</div>
<div class="row">
    <div class="col" *ngFor = "let item of selectedCatList">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        <div class="card-body">
          <!--<h5 class="card-title">name</h5>!-->
          <p class="card-text">{{item.name}} <br> {{ item.price | currency: 'USD': true}}</p>
          <a (click) ="addToCart(item)" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  
  </div>

