<div class="container">
<div class="row">
  <div class="col-8"></div>
  <div class="col-4"> 
    <button class="btn" (click)="openCart()" > Cart - {{count}}</button>
    
  </div>
</div>
<div class="modal" [ngClass]="{'show':isOpen}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header row">
        <ng-container *ngIf="!previewFlag">
          <div  class="col-md-4"> <h5 class="modal-title"> Items in Cart</h5></div>
          <div  class="col-md-2 offset-md-2" ><h5 class="modal-title">Quantity</h5></div>
        </ng-container>
         <div *ngIf="previewFlag">
          <div > <h5 class="modal-title">CheckOut Details</h5></div>
          <div>
           <div class="col-md-2 offset-md-2"><h6> Invoice Number</h6></div>
          <div class="col-md-3 ml-md-auto" ><h6>{{inVoiceNo}}</h6></div>
          </div>
        </div>
        
        <button type="button" class="close" (click)="closeCart()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div  class="modal-body">  
        <div *ngIf="count && !previewFlag">    
          <div  class="row mb-3" *ngFor="let item of cartService.cartItmes" > 
            <div  class="col-md-4"> {{item.name}} {{item.price  | currency: 'USD': true}}</div>
            <div  class="col-md-2 offset-md-2" > <input type="number" name="quantity" min="1" max="5" [(ngModel)]="item.qty"  (click)="chngQuantity()"></div>
            <div class="col-md-3 ml-md-auto"><button (click)="removeProduct(item)">Delete</button></div>
          </div>  
        </div>
        <div *ngIf="!count && previewFlag" class="row"> 
          <div  class="col"> no items in the cart</div>
        </div>  
        <div *ngIf="previewFlag">  
          <div  class="row mb-3" *ngFor="let item of cartService.cartItmes" > 
              <div  class="col-md-4"> {{item.name}} </div>
              <div class="col-md-3 ml-md-auto"> {{item.price  | currency: 'USD': true}} </div>
          </div> 
        </div>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" (click)="closeCart()" >Close</button>
        <button  *ngIf="!previewFlag" type="button" class="btn btn-primary" (click)="preview()" >CheckOut</button>
      </div>
    </div>
  </div>
</div>
</div>